.block-content-container {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* width: 100%; */
    font-size: 13px;
}

.block-content-container li {
    list-style: inside;
    padding: 0;
    margin-bottom: 4px;
}

@media (min-width : 768px) {
    .block-content-container {
        font-size: 14px;
    }

    .block-content-container li {
        margin-bottom: 6px;
    }
}