@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../styles/Header.css");
@import url("../styles/Scrollbar.css");
@import url("../styles/Modal.css");
@import url("../styles/Qoute.css");
@import url("../styles/Qoute.css");

:root {
  --color-main: #212121;
  --bg-main: #ededed;
  --h-header: 80px;
  --h-mobile-menu: calc(100vh - var(--h-header));
  --h-main: calc(100vh - var(--h-header));
  --w-scrollbar: 8px;
  --w-main: calc(100vw - var(--w-scrollbar));

  --bg-modal: rgba(var(--primary-900), 0.7);
  --bg-mobile-menu: rgba(var(--primary-900), 0.7);
  --bg-nav-item-active: rgba(var(--primary-600), 0.6);
  --bg-nav-item-active-hover: rgba(var(--primary-600), 0.7);

  /* --shadow-modal:  0px 0px 3px 0.5px rgba(var(--primary-500), 0.8); */

  /* --text: 239 242 250;
  --background: 0 4 15;
  --primary: 26 77 244;
  --secondary: 18 27 59;
  --accent: 76 235 156; */
  --text: rgb(239, 242, 250);
  --background: rgb(7, 9, 13);
  --primary: rgb(52, 93, 225);
  --secondary: rgb(18, 27, 59);
  --accent: rgb(76, 235, 156);

  --primary-50: 211, 224, 252;
  --primary-50-rgb: #d3e0fc;
  --primary-100: 190, 209, 250;
  --primary-100-rgb: #bed1fa;
  --primary-200: 148, 177, 245;
  --primary-200-rgb: #94b1f5;
  --primary-300: 108, 145, 238;
  --primary-300-rgb: #6c91ee;
  --primary-400: 70, 111, 230;
  --primary-400-rgb: #466fe6;
  --primary-500: 52, 93, 225;
  --primary-500-rgb: #345de1;
  --primary-600: 44, 80, 196;
  --primary-600-rgb: #2c50c4;
  --primary-700: 28, 55, 139;
  --primary-700-rgb: #1c378b;
  --primary-800: 14, 31, 86;
  --primary-800-rgb: #0e1f56;
  --primary-900: 3, 10, 39;
  --primary-900-rgb: #030a27;
  --primary-950: 1, 3, 18;
  --primary-950-rgb: #010312;

  --bg-menu-container: linear-gradient(to bottom,
      rgb(var(--primary-950)),
      rgba(var(--background), 0.8));


  /* font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif; */
  /* font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif; */
  /* font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif; */
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;

  }
}

@media screen and (min-width: 768px) {
  :root {
    --h-header: 100px;
  }
}

body {
  color: var(--text);
  background: var(--background);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}


.fcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trans {
  transition: all 0.25s ease-out;
}

.px-page {
  padding-left: 1rem;
  padding-right: 1rem;
}

.primary-gradient {
  background: linear-gradient(to right,
      rgb(var(--primary-500)),
      var(--accent));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-gradient-2 {
  background: linear-gradient(to right,
      rgb(var(--primary-400)),
      var(--accent));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.button-outline {
  border: 2px solid var(--text);
  padding: 0.75rem 1.6rem;
  color: var(--text);
  background: transparent;
  transition: all 0.25s ease-out;
  cursor: pointer;
}

.button-outline:hover {
  background: var(--primary);
  border-color: transparent;
  color: var(--text);
}

/* grid card layout */
.grid-cols-minmax {
  grid-template-columns: 1fr;
}

.social-icon {
  width: 2.75rem;
  height: 2.75rem;
}

.social-icon svg {
  width: 20px;
  height: 20px;
}

/* sm */
@media (min-width: 640px) {
  .button-outline {
    padding: 0.75rem 2rem;
  }

  .grid-cols-minmax {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
}

/* md */
@media (min-width: 768px) {
  .px-page {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .social-icon {
    width: 3rem;
    height: 3rem;
  }
}