@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-main: #212121;
  --bg-main: #ededed;
  --h-header: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: var(--color-main);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: var(--bg-main);
}


.fcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trans {
  transition: all 0.3s ease-out;
}

.px-page {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .px-page {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}