@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-main: #212121;
  --bg-main: #ededed;
  --h-header: 80px;
  --h-mobile-menu: calc(100vh - var(--h-header));

  /* --text: 239 242 250;
  --background: 0 4 15;
  --primary: 26 77 244;
  --secondary: 18 27 59;
  --accent: 76 235 156; */
  --text: rgb(239, 242, 250);
  --background: rgb(7, 9, 13);
  --primary: rgb(52, 93, 225);
  --secondary: rgb(18, 27, 59);
  --accent: rgb(76, 235, 156);

  --primary-50: 233 246 255;
  --primary-100: 215 238 255;
  --primary-200: 183 223 255;
  --primary-300: 140 200 255;
  --primary-400: 95 161 255;
  --primary-500: 59 124 255;
  --primary-600: 25 82 255;
  --primary-700: 26 77 244;
  --primary-800: 15 60 196;
  --primary-900: 22 58 153;
  --primary-950: 13 32 89;

  --bg-menu-container: linear-gradient(to bottom,
      rgb(var(--primary-950)),
      rgba(var(--background), 0.8));


  /* font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif; */
  /* font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif; */
  /* font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;

  }
}

body {
  color: var(--text);
  background: var(--background);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}


.fcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trans {
  transition: all 0.25s ease-out;
}

.px-page {
  padding-left: 1rem;
  padding-right: 1rem;
}

.h1-gradient {
  background: linear-gradient(to right,
      rgb(var(--primary-500)),
      var(--accent));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-outline {
  border: 2px solid var(--text);
  padding: 0.75rem 1.6rem;
  color: var(--text);
  background: transparent;
  transition: all 0.25s ease-out;
  cursor: pointer;
}

.button-outline:hover {
  background: var(--primary);
  border-color: transparent;
  color: var(--text);
}

@media (min-width: 768px) {
  .px-page {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}